{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
     <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#"><img src="{% static 'img/_LOGO_PNG_WHITE_.png' %}"  height="60" width="auto"></a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="#Text">О Блоге</a></li>
                    <li><a href="{% url 'blog:add_post' %}">Посты</a></li>
                    <li><a href="#">Объявления</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <section class="home">
        <div class="slider">
            <div class="slides">
                <div class="slide active">
                    <img src="{% static 'img/Фото_1.jpg' %}" alt="Картинка 1">
                </div>
                <div class="slide">
                    <img src="{% static 'img/Фото_2.jpg' %}" alt="Картинка 2">
                </div>
                <div class="slide">
                    <img src="{% static 'img/Фото_3.jpg' %}" alt="Картинка 3">
                </div>
            </div>
        </div>
        <script src="script.js"></script>
    </section>
			<h2 id="Text" class="myH2">Зачем блог?</h2>
			<h1><p class="myP">Для начала:</p></h1>
				<p class="myP">
                    1. Информирование читателей о музыкальных новинках и трендах. Автор блога может делиться свежими релизами, обзорами на альбомы и синглы, а также рассказывать о наиболее интересных событиях в мире музыки.
			    </p>
                <p class="myP">
                    2.  Обсуждение музыкальных жанров и стилей. В блоге можно анализировать различные музыкальные жанры, стили и направления, помогая читателям лучше понять и оценить разнообразие музыки.
			    </p>
                <p class="myP">
                    3. Представление и обсуждение творчества музыкантов и групп. Автор может рассказывать о жизни и творчестве известных музыкантов, а также открывать новых талантливых исполнителей.
			    </p>
                <p class="myP">
                    4. Проведение музыкальных обзоров и рецензий. Блог может стать площадкой для профессиональных музыкальных обзоров, что будет полезно для любителей музыки, желающих глубже погрузиться в анализ музыкальных произведений.
                </p>
                <p class="myP">
                    5. Обмен мнениями и дискуссия. Блог предоставляет возможность читателям делиться своими мнениями о музыке, участвовать в дискуссиях и обсуждениях, что способствует формированию музыкального сообщества.
                </p>
                <p class="myP">
                    6. Помощь в выборе музыки. Читатели могут найти в блоге рекомендации по музыке в соответствии со своими предпочтениями, что облегчит им поиск новых музыкальных произведений для прослушивания.
                </p>
                <p class="myP">
                    7. Поддержка и продвижение независимых музыкантов. Блог может стать платформой для молодых и независимых исполнителей, помогая им привлечь внимание к своему творчеству.
                </p>
                <p class="myP">
                    8. Создание музыкального сообщества. Блог может объединить людей с общими интересами, способствуя созданию музыкального сообщества, где участники могут делиться своими мыслями, рекомендациями и открытиями.
                </p>
                <p class="myP">
                    9. Образовательная функция. В блоге можно публиковать статьи о теории музыки, истории музыкальных жанров, а также давать советы по развитию музыкальных навыков.
                </p>
                <p class="myP">
                    10. Вдохновение и мотивация. Блог может стать источником вдохновения для читателей, интересующихся музыкой, и помочь им найти свой уникальный музыкальный стиль.
                </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="{% static 'js/script.js' %}"></script>
{% block content %}
{% endblock content%}
</body>
</html>